<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>God by World!</h1>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h2 class="modal-title mb-0" id="modal-basic-title">Create Meeting</h2>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input id="subject" name="subject" class="form-control" type="text" [(ngModel)]="newMeeting.subject">
                    </div>
                    <div class="form-group">
                        <label>Date and Time</label>
                        <div class="input-group mb-2">
                            <ngb-datepicker name="date" [(ngModel)]="date"></ngb-datepicker>
                            <ngb-timepicker name="time" [(ngModel)]="time" [hourStep]="hourStep" [minuteStep]="minuteStep" class="mx-3"></ngb-timepicker>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="participant">Participants name and email</label>
                        <div class="input-group">
                            <input id="participant" name="name" type="text" class="form-control" [(ngModel)]="participant.name">
                            <input id="participant" name="email" type="email" class="form-control" [(ngModel)]="participant.email">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="addParticipant()"
                                    type="button">+</button>
                            </div>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let participant of newMeeting.participants">
                                {{ participant.name }} ({{ participant.email }})
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <textarea class="form-control" id="notes" name="notes" rows="3" [(ngModel)]="newMeeting.notes"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary m-3" (click)="modal.close('Save click')">Save</button>
            </div>
        </ng-template>

        <button class="btn btn-primary m-3" (click)="open(content)">Add</button>

        <div class="col-12">
            <table class="table table-hover table-striped table-light">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Subject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let meeting of meetings">
                        <th scope="row">{{ meeting.id }}</th>
                        <td>{{ meeting.dateTime.toLocaleDateString() }}</td>
                        <td>{{ meeting.dateTime.toLocaleTimeString() }}</td>
                        <td>{{ meeting.subject }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshMeetings()">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshMeetings()">
                    <option [ngValue]="8">8 items per page</option>
                    <option [ngValue]="16">16 items per page</option>
                </select>
            </div>
        </div>
    </div>
</div>